/* Ajustes de layout responsivo */
@media (max-width: 768px) {
    .footerContent {   
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; /* Permitir ajuste automático da altura */
        padding: 20px;
        max-width: 100%; /* Ajuste total no mobile */
    }

    body .mapFooter iframe {
        width: 100%; /* Ajusta ao tamanho do contêiner pai */
        height: auto; /* Mantém proporção */
        margin: 20px 0;
    }

    .contactDetails {
        font-size: 0.76rem;
        max-width: 100%; /* Ajusta ao tamanho do mobile */
        margin-bottom: 20px;
    }

    .mapFooter {
        flex-direction: column; /* Alinhar os filhos verticalmente */
        width: 100%; /* Garante que ocupe a largura total */
        align-items: center;
    }

    .logo {
        margin: 0 auto; /* Centraliza a logo */
        display: block; /* Garante centralização */
    }
    
    .socialIcons {
        margin: 20px auto 0 auto; /* Centraliza os ícones de redes sociais */
    }
}

/* Estilos gerais */
.footerContainer {
    max-width: 1200px;
    margin: auto;
}

.footer {
    background-color: #191919;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footerContent {
    height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.mapFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: left !important;
    max-width: 1200px;
}

.mapFooter iframe {
    align-self: flex-end;
    justify-self: start;
    margin: auto;
    margin-right: 0;
    border: none;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-right: 0;
}

.contactDetails span {
    margin: 5px 0;
}

.logo {
    margin: auto;
}

hr {
    width: 100%;
    border: 1px solid #ffffff16;
}

.socialIcons {
    margin: auto;
    margin-right: 10px;
}

.socialIcons a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: #bbb;
}

.footer p {
    font-size: 0.75rem;
    font-style: italic;
    color: #ffffffdb;
    margin: 0;
    margin-top: 10px;
}

