@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: -1px;
    word-spacing: -1px;
    line-height: 1;

}

body{
    background-color: white;
}

section:nth-child(odd){
    background-color: #f9f9f9;
}

section {
    padding: 10px 0px;
}

section > div{
    max-width: 1200px;
    margin: auto;
}

section h1, h2, p {
    color: #032D60;
}

section h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.button {
    background-color: #028833; /* Cor verde do WhatsApp */
    padding: 15px 18px;
    font-size: 26px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    color: white; /* Cor do texto branca */
    display: flex; /* Para alinhar o ícone com o texto */
    align-items: center; /* Centraliza verticalmente o ícone com o texto */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    gap: 10px; /* Espaçamento entre o ícone e o texto */
    cursor: pointer; /* Mostra que é um botão clicável */
    margin: auto;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

body .zapzap  {
    color: white !important; /* Cor do ícone do WhatsApp */
    width: 24px; /* Tamanho do ícone */
    height: 24px;
}

.button:hover {
    background-color: #00ac3c;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
    scale: 0.99;
}

@media (max-width: 768px) {
    .pointsContainer{
      flex-direction: column;
    }
}

