
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-section__content{
    margin: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hero-section__content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.cta-container{
    display: flex;
    flex-direction: column;

}



.cta-container button{
background: #111111;
color: #FFFFFF;
padding: 20px 20px;
width: 200px;
font-size: 20px;
}

.cta-container button:hover{
    background: #FFFFFF;
    color: #111111;
    border: 1px solid #111111;
    transition: 0.8s ease;
    cursor: pointer;
    scale: 0.95;

    }

.cta-container p{
    margin-top: 20px;
    font-size: 15px;

}

.hero-section__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section__text h1, p{
    margin-bottom: 24px;
}

