.pointsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 50px 20px;
  }

  .pointsContainer > div {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #00000000;
  }
  
  .pointsContainer h3{
    font-weight: 700;
    color: #000;
    margin: 5px 10px;
    letter-spacing: normal;
    word-spacing: 2px;
    
  }
  
  .pointsContainer > div	{
    margin: auto;
    max-width: fit-content;
  }
  
  .iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pointsContainer p , .pointsContainer strong {
    word-spacing: 2px;
    letter-spacing: normal;
    width: 80%;
  
  text-align: center;
  margin: auto;
  font-size: 0.7rem;
}

@media screen and (max-width: 768px){
    .pointsContainer{
      grid-template-columns: repeat(1, 1fr);
    }
  
}