.numbersContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    color: black;
}

.numbersContainer p {
    margin-top: 5px;
    word-spacing: 2px;
}

.numbersContainer h3{
    font-size: 3rem;
}

.usMainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.usMainContainer Button{
    width: 300px;
    font-size: 1.2rem;
}

.sucessImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.aboutUs-container{
    text-align: center;
}

@media (max-width: 768px) {
    
    .numbersContainer{
        flex-direction: column;
    }
}
