.numbersContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
}

.usMainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.usMainContainer Button{
    width: 300px;
    font-size: 1.2rem;
}

.sucessImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

@media (max-width: 768px) {
    
}
