body .sectionCampaign{
    background-color: rgb(255, 255, 255)!important;
}

.swiperContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.swiperContainer .swiper-slide *{ 
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-button-next, 
 .swiper-button-prev {
    color: #1d1d1d;

}

.sectionCampaign__content{
    display: flex;
    justify-content: center;
}

.sectionCampaign__img img{
    width: 40%;
    margin: auto;
}

@media (max-width: 768px) {

 .swiper-button-next, 
 .swiper-button-prev {
   display: none;
 }

    .sectionCampaign__img img{
        width: 100%;
    }
 }