.headerContainer{
    background-color: black;
}

.logo-container{
    width: fit-content;
}

.headerContainer div{
    margin: auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    max-height: 150px;
}

.headerContainer img {
    width: 180px;
    margin: auto;
    margin-top: -20px
}

.headerContainer img:hover {
    cursor: pointer;
    scale: 0.95;
    transition: 0.5s;
}

