@media screen and (max-width: 768px){
   
body .open{
    display: flex;
    flex-direction: column;    
    position: absolute;
    top: 90px;
    right: 10;
}

.closed{
    display: none !important;
}	

.hamburger {
    align-self: flex-end;
    justify-self: end;
    margin: 40px;
}

.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nav-menu{
    background-color: rgb(61, 61, 61);
    padding: 10px;
    max-height: 200px;
}
}

.headerContainer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.headerContainer div{
    margin: auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    max-height: 150px;
}

.headerContainer img {
    width: 180px;
    margin: auto;
}

.headerContainer img:hover {
    cursor: pointer;
    scale: 0.95;
    transition: 0.5s;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
    
}

details{
    max-width: 86px;
    max-height: 15px;
}

details:hover{
    cursor: pointer;
}

.dropdown-menu{
    color: white;
    width: 160px;
    background-color: rgb(65, 65, 65);
}

.dropdown-menu li{
    margin: 10px 0px;
}
