@media (max-width: 768px) {
    body .sectionContact {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    body .contactForm {
        margin: auto ;
        max-width: 100%;
    }

    button[type="submit"] {
        width: 300px !important;
    }

    body .imageContact {
        background-size: 200%;
        background-position-x: left;
        background-position-y: bottom;
    }

    .formGroup input,
    .formGroup textarea {
        background-color: rgba(255, 255, 255, 0.587);
    }

    .formGroup input::placeholder,
    .formGroup textarea::placeholder {
        color: #000000 !important;
    }


}

.contactContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding: 20px;
}

.formGroup {
    margin-bottom: 20px;
}

 label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333; /* Mudança para uma cor de fonte mais suave */
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
    color: #aaa;
}

.segments {
    display: grid;
    grid-template-columns: repeat(2, 2fr); /* Define duas colunas com largura igual */
    gap: 10px; /* Espaçamento entre os checkboxes */
}

.segments div {
    display: flex;
    align-items: center;
}

.segments input {
    margin-right: 10px; /* Espaçamento entre o checkbox e o texto */
    width: 20px;
    height: 20px;
    border: 1px solid #888;
    border-radius: 4px; /* Para um visual levemente arredondado */
    cursor: pointer;
    transition: all 0.3s ease;
}

.segments input:checked {
    background-color: #4CAF50; /* Cor verde quando estiver marcado */
    border-color: #4CAF50;
}

.segments label {
    font-size: 1rem;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.segments label:hover {
    color: #000; /* Mudança de cor ao passar o mouse */
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 2px;
}

.contactForm {
    margin: auto;
    width: 450px;
}

.contactTitle {
    color: #000000;
}

.contactTitle h2 {
    font-size: 72px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 15px;

}

.contactTitle p {
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    margin-bottom: 15px;

}

.successMessage{
    margin-top: 20px;
}
